footer {
  margin-top: 56px;
  hr {
    width: 100%;
    color: #e2e4eb;
  }
  .footer-text {
    margin: 27px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
      text-decoration: none;
      font-family: sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 140%;
      color: #212b36;
    }
  }
  .again {
    width: 1160px;
    color: #e2e4eb;
    margin-left: 370px;
  }
  .finel-text {
    display: flex;
    margin-left: 140px;
    margin-top: 24px;
    .colom-last {
        flex: 6;
      h2 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 140%;
        color: #212b36;
      }
      p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 140%;
        color: #637381;
        margin-top: 12px;
      }
    }
    .colum-last{
        flex: 1;
        .icons{
            display: flex;
            justify-content: space-around;
            margin-right: 50px;
            :nth-child(1){
                margin-left: 31px;
            }
            :nth-child(2){
                margin-left: 31px;
            }
            :nth-child(3){
                margin-left: 31px;
            }
        }
    }
  }
}
