.section-8 {
  margin: 56px 0px 0px 140px;
  h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: #212b36;
  }
  .row-01 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 21px;
    p {
      font-family: sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #637381;
      margin-top: 8px;
    }
    h3 {
      font-family: sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #212b36;
      margin-top: 8px;
    }
  }
}
