* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav { border: 2px solid #e9ebf0; width: 100%; height: 64px; }

nav .menu-1 { border-right: 2px solid #e9ebf0; display: block; width: 64px; height: 62px; }

nav .menu-1 .menu-2 { margin-left: 23px; margin-top: 25px; cursor: pointer; }

nav .input-1 { margin-left: 80px; margin-top: -52px; }

nav .input-1 .icon-search { position: absolute; margin-left: 10px; margin-top: 13px; cursor: pointer; }

nav .input-1 input { border: none; outline: none; background-color: #f4f5f7; border-radius: 4px; width: 264px; height: 40px; font-size: 15px; padding-left: 35px; }

nav .btn-1 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; margin-right: 40px; margin-top: -41px; cursor: pointer; }

nav .btn-1 .btn-2 { border: none; outline: none; background: #9e8ef6; border-radius: 100px; padding: 10px 40px 10px 18px; color: white; font-family: "SF Pro", sans-serif; font-size: 14px; line-height: 20px; cursor: pointer; }

nav .btn-1 .icon-profile { margin-left: -34px; margin-top: 8px; }

.section-1 { background-color: #212b36; width: 100%; height: 548px; }

.section-1 .row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.section-1 .row .row-1 .titel { font-family: "SF Pro", sans-serif; font-style: normal; font-weight: bold; font-size: 40px; line-height: 50px; color: #fff; padding-left: 140px; padding-top: 64px; }

.section-1 .row .row-1 .text .text-1 p { font-family: "SF Pro", sans-serif; font-size: 14px; line-height: 18px; color: #d0d5d9; margin-left: 164px; margin-top: 32px; }

.section-1 .row .row-1 .text .text-1 .icon-headphone { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; margin-top: -14px; margin-left: 141px; }

.section-1 .row .row-1 .text .text-2 p { font-family: "SF Pro", sans-serif; font-size: 14px; line-height: 18px; color: #d0d5d9; margin-left: 164px; margin-top: 32px; }

.section-1 .row .row-1 .text .text-2 .icon-light { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; margin-top: -14px; margin-left: 141px; }

.section-1 .row .row-1 .line { margin-top: 48px; margin-left: 140px; width: 32%; opacity: 0.05; }

.section-1 .row .row-1 .btn-3 { margin: 32px 0px 0px 140px; border: none; outline: none; background: #ffb800; border-radius: 100px; padding: 21px 48px 21px 48px; cursor: pointer; /******** text *********/ font-family: "SF Pro", sans-serif; font-size: 20px; line-height: 22px; }

.section-1 .row .row-1 .pric { display: -webkit-box; display: -ms-flexbox; display: flex; margin-left: 394px; margin-top: -53px; }

.section-1 .row .row-1 .pric h1 { font-family: "SF Pro", sans-serif; font-style: normal; font-weight: bold; font-size: 32px; line-height: 20px; color: #fff; }

.section-1 .row .row-1 .pric span { font-family: "SF Pro", sans-serif; font-style: normal; font-weight: bold; line-height: 20px; color: #fff; margin-left: 10px; margin-top: 2px; }

.section-1 .row .row-1 .discription { margin-left: 394px; margin-top: 10px; margin: 10px 0px 0px 394px; font-family: "SF Pro", sans-serif; font-style: normal; font-weight: normal; font-size: 14px; line-height: 18px; color: #d0d5d9; }

.section-1 .row .row-2 { margin-top: 64px; }

.section-1 .row .row-2 img { width: 564px; height: 320px; border-radius: 6px; margin-right: 140px; }

.cards { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.cards .card-1 { border: 2px solid #e2e4eb; width: 564px; height: 336px; margin: 64px; border-radius: 8px; }

.cards .card-1 h2 { padding: 48px 0px 0px 48px; font-family: "SF Pro", sans-serif; font-style: normal; font-weight: bold; font-size: 32px; line-height: 32px; }

.cards .card-1 .text-icon-1 { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 40px; margin-left: 48px; font-family: sans-serif; font-size: 16px; line-height: 24px; }

.cards .card-1 .text-icon-1 svg { margin: 6px 14px 0px 0px; }

.cards .card-1 .text-icon-2 { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 24px; margin-left: 48px; font-family: sans-serif; font-size: 16px; line-height: 24px; }

.cards .card-1 .text-icon-2 svg { margin: 6px 14px 0px 0px; }

.cards .card-1 .text-icon-3 { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 24px; margin-left: 48px; font-family: sans-serif; font-size: 16px; line-height: 24px; }

.cards .card-1 .text-icon-3 svg { margin: 6px 14px 0px 0px; }

.cards .card-2 { border: 2px solid #e2e4eb; width: 564px; height: 336px; margin: 64px; border-radius: 8px; }

.cards .card-2 h2 { padding: 48px 0px 0px 48px; font-family: "SF Pro", sans-serif; font-style: normal; font-weight: bold; font-size: 32px; line-height: 32px; }

.cards .card-2 .text-icon-v2-1 { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 40px; margin-left: 48px; font-family: sans-serif; font-size: 16px; line-height: 24px; }

.cards .card-2 .text-icon-v2-1 svg { margin: 6px 14px 0px 0px; }

.cards .card-2 .text-icon-v2-2 { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 24px; margin-left: 48px; font-family: sans-serif; font-size: 16px; line-height: 24px; }

.cards .card-2 .text-icon-v2-2 svg { margin: 6px 14px 0px 0px; }

.cards .card-2 .text-icon-v2-3 { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 24px; margin-left: 48px; font-family: sans-serif; font-size: 16px; line-height: 24px; }

.cards .card-2 .text-icon-v2-3 svg { margin: 6px 14px 0px 0px; }

.cards .card-2 .text-icon-v2-4 { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 24px; margin-left: 48px; font-family: sans-serif; font-size: 16px; line-height: 24px; }

.cards .card-2 .text-icon-v2-4 svg { margin: 6px 14px 0px 0px; }

.section-3 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 48px; }

.section-3 .row-3 { width: 1160px; height: 298px; background: #eef0fe; border-radius: 8px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; }

.section-3 .row-3 .circels { background: #6554c0; width: 64px; height: 64px; border-radius: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-left: 80px; }

.section-3 .row-3 .colom-1 h2 { font-family: sans-serif; font-size: 24px; line-height: 32px; }

.section-3 .row-3 .colom-1 p { font-family: sans-serif; font-size: 16px; line-height: 26px; color: #637381; margin-left: 30px; }

.section-3 .row-3 .colom-2 h2 { font-family: sans-serif; font-size: 24px; line-height: 32px; margin-left: 30px; }

.section-3 .row-3 .colom-2 p { font-family: sans-serif; font-size: 16px; line-height: 26px; color: #637381; }

.section-3 .row-3 .colom-3 h2 { font-family: sans-serif; font-size: 24px; line-height: 32px; }

.section-3 .row-3 .colom-3 p { font-family: sans-serif; font-size: 16px; line-height: 26px; color: #637381; margin-left: 20px; }

.section-4 { margin: 96px 0px 0px 140px; }

.section-4 .text h1 { color: black; display: -webkit-box; display: -ms-flexbox; display: flex; font-family: sans-serif; font-size: 32px; line-height: 32px; }

.section-4 .text h1 p { color: #212b36; }

.section-4 .text .littel { color: #637381; font-family: sans-serif; font-size: 14px; line-height: 22px; }

.section-4 .text .littel span { color: #212b36; }

.section-4 .boxes { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 90%; }

.section-4 .boxes .box-first { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 40px; padding: 25px 0px 25px 56px; border: 1px solid #e2e4eb; border-radius: 8px; }

.section-4 .boxes .box-first .text_icon-1 { display: -webkit-box; display: -ms-flexbox; display: flex; margin-left: -24px; }

.section-4 .boxes .box-first .text_icon-1 svg { margin-top: 4px; }

.section-4 .boxes .box-first .text_icon-1 svg path { stroke: #6554c0; }

.section-4 .boxes .box-first .text_icon-1 .text-1 { display: -webkit-box; display: -ms-flexbox; display: flex; margin-left: 16px; }

.section-4 .boxes .box-first .text_icon-1 .text-1 p { font-family: sans-serif; font-size: 16px; line-height: 22px; color: #212b36; }

.section-4 .boxes .box-first .text_icon-1 .text-1 span { font-family: sans-serif; font-weight: 500; font-size: 9px; line-height: 140%; margin: 4px 0px 0px 17px; color: #ffffff; background: #ffb800; border-radius: 100px; padding: 3px; margin-top: 4px; }

.section-4 .boxes .box { margin-top: 4px; padding: 25px 0px 25px 56px; border: 1px solid #e2e4eb; border-radius: 8px; }

.section-4 .boxes .box .text_icon { display: -webkit-box; display: -ms-flexbox; display: flex; margin-left: -24px; }

.section-4 .boxes .box .text_icon svg { margin-top: 4; }

.section-4 .boxes .box .text_icon p { font-family: sans-serif; font-size: 16px; line-height: 22px; color: #212b36; margin-left: 16px; }

.section-4 .finel { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.section-4 .finel button { margin-top: 24px; border-radius: 4px; cursor: pointer; border: none; outline: none; padding: 13px 16px 13px 16px; }

.section-4 .finel button a { text-decoration: none; color: #212b36; font-family: sans-serif; font-style: normal; font-weight: normal; font-size: 14px; line-height: 100%; }

.section-4 .finel hr { width: 1160px; color: #e2e4eb; margin-top: 72px; }

.section-5 { margin-left: 140px; }

.section-5 .row-3 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.section-5 .row-3 .colom-4 { width: 524px; height: 400px; -webkit-box-flex: 2; -ms-flex: 2; flex: 2; background-image: url("./Mock Creative.jpg"); }

.section-5 .row-3 .colom-5 { -webkit-box-flex: 2; -ms-flex: 2; flex: 2; margin-top: 124px; }

.section-5 .row-3 .colom-5 h1 { font-family: sans-serif; font-style: normal; font-weight: bold; font-size: 32px; line-height: 32px; color: #212b36; }

.section-5 .row-3 .colom-5 p { margin-top: 32px; font-family: sans-serif; font-style: normal; font-weight: normal; font-size: 16px; line-height: 24px; color: #212b36; }

.section-5 .row-3 .colom-5 button { margin-top: 24px; padding: 13px 16px 13px 16px; border: none; outline: none; background: #f4f5f7; border-radius: 4px; cursor: pointer; }

.section-5 .row-3 .colom-5 button a { text-decoration: none; color: #212b36; }

.section-6 { margin-top: 120px; background-color: #eef0fe; padding-top: 96px; }

.section-6 .row-3 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.section-6 .row-3 .colom-6 { -webkit-box-flex: 2; -ms-flex: 2; flex: 2; margin-left: 140px; }

.section-6 .row-3 .colom-7 { -webkit-box-flex: 2; -ms-flex: 2; flex: 2; }
/*# sourceMappingURL=style.css.map */